.logoutButton {
	margin-top: 4px;
}

.comicListWrapper {
	background-color: #d9edf7;
	margin-bottom: 15px;
}

.newComicWrapper {
	background-color: #dff0d8;
}

.friendsWrapper {
	background-color: #d9edf7;
	margin-bottom: 15px;
}

.newFriendWrapper {
	background-color: #dff0d8;
}

.loansWrapper {
	background-color: #d9edf7;
	margin-bottom: 10px;
}