ul.navbar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	background-color: #CAEBFF;
	width: 500px;
}

ul.navbar li {
	display: inline;
	padding-right: 75px;
}

.comicWrapper {
	margin-top: 15px;
	width: 800px;
	background-color: #81BEF7;
}