<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="css/app.css">
	<title>Sheldon's comics collection</title>
</head>
<body>
	<div ng-app="app" ng-controller="MainCtrl">
		<button class='button' ng-if='isLoggedIn()' ng-click="logoutUser()">Logout</button>
		<ul ng-if="isLoggedIn()" class="navbar">
			<li><a href="#/comics">Comics</a></li>
			<li><a href="#/people">People</a></li>
			<li><a href="#/loans">Loans</a></li>
		</ul>
		<ng-view></ng-view>
	</div>
	<script type="text/javascript" src="angular.js"></script>
	<script type="text/javascript" src="angular-route.js"></script>
	<script type="text/javascript" src="app.js"></script>
	<script type="text/javascript" src="login/login.js"></script>
	<script type="text/javascript" src="comics/comics.js"></script>
	<script type="text/javascript" src="comics/comic/comic.js"></script>
</body>
</html>