<h1>Friends page</h1>

<div class="friendsWrapper" ng-repeat="friend in friends" ng-controller="FriendsCtrl">
	<h3>{{ friend.name }}</h3>
	<h4>Comics from sheldon:</h4>
	<div ng-repeat="comic in friend.comics track by $index">
		<strong>Title: {{comic.title}}</strong>
		<button class="btn btn-success" ng-click="returnComic(comic, friend)">Return {{ comic.title }} to Sheldon</button>
	</div><br>
	<button class="btn btn-danger" ng-click="deleteFriend(friend)">Delete {{ friend.name }}</button>
</div>
<div class="newFriendWrapper">
	<h3>Add new friend</h3>
	<form name="newFriendForm" ng-submit="newFriendForm.$valid && addFriend()" novalidate>
		<label>Name:</label>
		<input type="text" class="form-control" placeholder="Enter Name" ng-model="friend.name" required><br>
		<strong>
			<p class="errorMessage" ng-hide="newFriendForm.$pristine || newFriendForm.$valid">Check the wrong values</p>
		</strong>
		<input type="submit" class="btn btn-default" value="Add new friend"/>
	</form>
</div>