<h2>Comics page</h2>
<h3>List of comics</h3>
<div class="comicListWrapper" ng-repeat="comic in comics" ng-controller="ComicsCtrl">
	<h3><a href="#/comic/{{ comic.id }}">{{ comic.title }}</a></h3>
	<div class="thumbnail">
    	<a href="#/comic/{{ comic.id }}">
        	<img class="image" src="images/{{ comic.imageName }}">
      	</a>
    </div>
    <div class="comicInfo">
    	<p>Available: {{ comic.available }}</p>
		<p>{{ comic.description }}</p>
    </div>
	<div class="comicButtonWrapper" ng-hide="!isAdmin() || isEditing() || isLoaning()">
		<button class="btn btn-primary" ng-click="setLoaningState()" ng-if="comic.available > 0">Lend comic</button>
		<button class="btn btn-default" ng-click="setEditComicState(comic)">Edit</button>
		<button class="btn btn-danger" ng-click="deleteComic(comic)">Delete</button>
	</div>	
	<div ng-show="isEditing()">
		<form name="updateComicForm" novalidate>
			<input type="text" class="form-control" ng-model="comic.title"> <br>
			<textarea class="form-control" rows="10" cols="30" ng-model="comic.description"></textarea> <br>
			<button ng-disabled="updateComicForm.$invalid || isUnchanged(comic)" class="btn btn-success" ng-click="updateComic(comic)">Update comic</button>
			<button class="btn btn-danger" ng-click="cancelEditedComic()">Cancel</button>
		</form>
	</div>
	<div ng-show="isLoaning()">
		<select class="form-control" ng-init="friendLoan = friends[0]" ng-model="friendLoan" ng-options="friend.name for friend in friends"></select><br>
		<button class="btn btn-success" ng-click="lendComic(comic, friendLoan)">Lend comic to {{ friendLoan.name }}</button>
		<button class="btn btn-danger" ng-click="cancelLendComic()">Cancel</button>
	</div>
</div>
<div class="newComicWrapper" ng-show="isAdmin()">
	<h3>Add new comic</h3>
	<form name="newComicForm" ng-submit="newComicForm.$valid && addComic()" novalidate>
		<div class="form-group">
			<label>Title: </label>
			<input name="titleInput" type="text" class="form-control" placeholder="Enter title" ng-model="comic.title" required> 
			<br>
			<strong><label class="errorMessage" ng-hide="newComicForm.titleInput.$pristine || newComicForm.titleInput.$valid">The title is not valid</label></strong>
		</div>
		<div class="form-group">
			<label>Description: </label>
			<textarea name="descriptionInput" class="form-control" placeholder="Describe here" rows="10" cols="30" ng-model="comic.description" required>
			</textarea><br>
			<strong><label class="errorMessage" ng-hide="newComicForm.descriptionInput.$pristine || newComicForm.descriptionInput.$valid">The description is not valid</label></strong>
		</div>
		<div class="form-group">
			<label>Quantity: </label>
			<input name="quantityInput" type="number" class="form-control quantityInput" placeholder="How many copies" ng-model="comic.available" required> <br>
			<strong><label class="errorMessage" ng-hide="newComicForm.quantityInput.$pristine || newComicForm.quantityInput.$valid">The number of available comics is not valid</label></strong>
		</div>
		<input ng-disabled="newComicForm.$invalid" type="submit" class="btn btn-success" value="Add new comic"/>
		<button type="submit" class="btn btn-danger" ng-click="resetForm()">Reset</button>
	</form>
</div>