<h1>Comics page</h1>

<h3>List of comics</h3>

<div class="comicListWrapper" ng-repeat="comic in comics" ng-controller="ComicsCtrl">
	<h3><a href="#/comic/{{ comic.id }}">{{ comic.title }}</a></h3>
	<p>Available: {{ comic.available }}</p>
	<label>Comic description:</label>
	<p>{{ comic.description }}</p>
	<div ng-hide="!isAdmin() || isEditing() || isLoaning()">
		<button class="btn btn-primary" ng-click="setLoaningState()" ng-if="comic.available > 0">Lend comic</button>
		<button class="btn btn-default" ng-click="setEditComicState()">Edit</button>
		<button class="btn btn-danger" ng-click="deleteComic(comic)">Delete</button>
	</div>	
	<div ng-if="isEditing()">
		<input type="text" class="form-control" ng-model="comic.title"> <br>
		<textarea class="form-control" rows="10" cols="30" ng-model="comic.description"></textarea> <br>
		<button class="btn btn-success" ng-click="saveEditedComic(comic)">Save comic</button>
		<button class="btn btn-danger" ng-click="cancelEditedComic(comic)">Cancel</button>
	</div>
	<div ng-if="isLoaning()">
		<select class="form-control" ng-init="friendLoan = friends[0]" ng-model="friendLoan" ng-options="friend.name for friend in friends"></select><br>
		<button class="btn btn-success" ng-click="lendComic(comic, friendLoan)">Lend comic to {{ friendLoan.name }}</button>
		<button class="btn btn-danger" ng-click="cancelLendComic()">Cancel</button>
	</div>
</div>
<div class="newComicWrapper" ng-show="isAdmin()" ng-submit="addComic()">
	<h3>Add new comic</h3>
	<form novalidate>
		<div class="form-group">
			<label>Title: </label>
			<input type="text" class="form-control" placeholder="Enter title" ng-model="comic.title" required> <br>
		</div>
		<div class="form-group">
			<label>Description: </label>
			<textarea class="form-control" placeholder="Describe here" rows="10" cols="30" ng-model="comic.description" required>
			</textarea><br>
		</div>
		<div class="form-group">
			<label>Quantity: </label>
			<input type="number" class="form-control" placeholder="How many copies" ng-model="comic.available" required> <br>
		</div>
		<input type="submit" class="btn btn-default" value="Add new comic"/>
	</form>
</div>